[submodule "src/lib/files/WFObj"]
	path = src/lib/files/WFObj
	url = https://github.com/shotgunsoftware/openrv-WFObj.git
[submodule "src/pub"]
	path = src/pub
	url = https://github.com/shotgunsoftware/openrv-pub.git
