*.jpg -crlf -diff -merge
*.png -crlf -diff -merge
*.exr -crlf -diff -merge
*.dpx -crlf -diff -merge
*.cin -crlf -diff -merge
*.tiff -crlf -diff -merge
*.tif -crlf -diff -merge
*.eps -crlf -diff -merge
*.nib -crlf -diff -merge
*.nib -crlf -diff -merge
*.pdf -crlf -diff -merge
