# UTV Python Requirements
#
# Modified for the UTV project.
# Copyright (C) 2026  Makai Systems. All Rights Reserved.
#
# This file contains the packages required to run UTV.
# We prefer using 'uv' for fast installations.

numpy
opentimelineio
PyOpenGL
PyOpenGL_accelerate
certifi
six
packaging
requests
cryptography
pydantic
nanobind
