# UTV Python Requirements
#
# Modified for the UTV project.
# Copyright (C) 2026  Makai Systems. All Rights Reserved.
#
# This file contains the packages required to run UTV.
# We prefer using 'uv' for fast installations.

certifi
cryptography
nanobind
numpy
opentimelineio
packaging
pydantic
PyOpenGL
PyOpenGL_accelerate
requests
six
